# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore VSCode settings (if using VSCode)
.vscode/

# Ignore compiled class files
*.class

# Ignore other binary folders
bin/
